@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base style */

body {
    font-family: "ZEN OLD MINCHO", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    width: 100%;
    min-width: 320px;
    position: relative;
}

main {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    width: 100%;
    height: auto;
}