@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base style */

:root {
    --txt-color: #333;
    --bg-white: #fff;
    --default-font-size: 15px;
    --header-height: 72px;
    --main-shadow-color: rgba(0, 0, 0, .14);
    --sub-shadow-color: rgba(0, 0, 0, .2);
    --border-color: rgba(0, 0, 0, .8);
    --nav-list-width: 50%;
}

body {
    font-family: "ZEN OLD MINCHO", Arial, Helvetica, sans-serif;
    font-size: var(--default-font-size);
    line-height: 1.5;
    color: var(--txt-color);
    width: 100%;
    min-width: 320px;
    position: relative;
}

main {
    background: var(--bg-white);
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

a,img,span {
    display: block;
}

a {
    text-decoration: none;
    color: var(--txt-color);
}

ul {
    list-style: none;
}