.footer {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1em;
    padding: 1em 0;
    margin: 1em auto 0;
    width: 100%;
}

.footer a {
    font-size: 20px;
    width: fit-content;
    position: relative;
}

.footer a::after {
    background-color: currentColor;
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.foot-list {
    display: flex;
    flex-direction: column;
}

.copy {
    text-align: center;
    width: 100%;
    margin: 1em auto;
    padding-top: 1em;
    border-top: 1px solid var(--border-color);
}

@media screen and (min-width:768px) {
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

    .foot-list {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

}

@media screen and (min-width:1024px) {
    
    .footer {
        justify-content: space-between;
        padding: 1em 5%;
    }

}