@charset "utf-8";

@import url(base.css);

.footer {
    background-color: var(--header-bg);
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1em;
    padding: 1em 2rem;
    margin: 0 auto;
    width: 100%;

    @media (min-width:650px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer a {
    font-size: 20px;
    width: fit-content;
    position: relative;
}

.footer a::after {
    background-color: currentColor;
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.foot-list {
    display: flex;
    flex-direction: column;

    @media (min-width:650px) {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

.copy {
    background-color: var(--header-bg);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    border-top: 1px solid var(--border-color);
}

.foot-txt-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}