@charset "utf-8";

.header {
    background: #fff;
    display: flex;
    margin: 0 auto;
    padding: 1.5em 2rem;
    width: 100%;
    height: 72px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 14px 20px rgba(0, 0, 0, .2);
}

.head-top-link {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

.head-top-link::after {
    background: currentColor;
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.head-top-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav {
    position: relative;
    margin-left: 0;
}

.nav-toggle {
    display: none;
}

.nav-btn {
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 1.5em;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    transition: .4s;
}

.nav-btn:hover,
.nav-btn:focus {
    background: rgba(126, 208, 255, .2);
}

.nav-btn span {
    background: #000;
    position: absolute;
    left: 10px;
    right: 10px;
    height: 2px;
    transition: .25s ease;
}

.nav-btn span:nth-child(1) {
    top: 14px;
}

.nav-btn span:nth-child(2) {
    top: 21px;
}

.nav-btn span:nth-child(3) {
    top: 28px;
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .2);
    pointer-events: none;
    transition: opacity .25s ease;
    z-index: 5;
    opacity: 0;
}

ul {
    list-style: none;
}

.nav-list {
    background: #fff;
    width: 50%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 72px;
    right: 0;
    bottom: 0;
    gap: 0;
    padding: 1em 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    pointer-events: none;
    transition: opacity .25s ease, transform .25s ease ;
    z-index: 10;
}

.nav-toggle:checked~.nav-overlay {
    opacity: 1;
    pointer-events: auto;
}

.nav-toggle:checked~.nav-list {
    opacity: 1;
    transform: scaleX(1);
    pointer-events: auto;
    transition-delay: .25s;
}

.nav-toggle:checked+.nav-btn span:nth-child(1) {
    top: 21px;
    transform: rotate(45deg);
}

.nav-toggle:checked+.nav-btn span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked+.nav-btn span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg);
}

.nav-item {
    padding: .8em 2em;
}

.nav-link {
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    font-weight: 900;
    width: fit-content;
    position: relative;
}

.nav-link::after {
    background: currentColor;
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (min-width:768px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        gap: 2em;
    }

    .head-top-link {
        margin: 0;
    }

    .nav-toggle:checked~.nav-list {
        transform: none;
        opacity: 1;
    }

    .nav-overlay,
    .nav-toggle:checked~.nav-overlay {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-list {
        position: static;
        width: 100%;
        max-width: none;
        height: auto;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        display: flex;
        flex-direction: row;
        visibility: visible;
        background: transparent;
        gap: 2em;
        padding: 0;
    }

    .nav-item {
        padding: .8em 0;
    }
    
}

@media screen and (min-width:1024px) {
    
    .header {
        justify-content: space-between;
    }

}